{{define "breadcrumb"}}
	{{$bal := .Server.Balancer}}
	<li><a href="/balancers">Balancers</a></li>
	<li><a href="/balancers/{{$bal.Id.Hex}}">{{$bal.Label}}</a></li>
	<li><a href="#">Servers</a></li>
	<li><a href="#">{{.Server.Label}}</a></li>
	<li class="active">Edit</li>
{{end}}

{{define "content"}}
	<div class="panel panel-default">
		<div class="panel-heading">
			Edit Server: {{.Server.Label}}
		</div>
		<div class="panel-body">
			<br>
			<form method="POST" class="form-horizontal">
				<div class="form-group">
					<label for="inpLabel" class="col-sm-2 control-label">Label</label>
					<div class="col-sm-4">
						<input type="text" name="label" class="form-control" id="inpLabel" value="{{.Server.Label}}">
					</div>
				</div>

				<br>

				<div class="form-group">
					<label for="inpAddress" class="col-sm-2 control-label">Address</label>
					<div class="col-sm-4">
						<input type="text" name="settings.address" class="form-control" id="inpAddress" value="{{.Server.Settings.Address}}">
					</div>
				</div>
				<div class="form-group">
					<label for="inpWeight" class="col-sm-2 control-label">Weight</label>
					<div class="col-sm-4">
						<input type="number" name="settings.weight" class="form-control" id="inpWeight" value="{{.Server.Settings.Weight}}" min="1" >
					</div>
				</div>
				<div class="form-group">
					<label for="inpAvailability" class="col-sm-2 control-label">Availability</label>
					<div class="col-sm-4">
						<select name="settings.availability" class="form-control" id="inpAvailability">
							{{range $av := .Availabilities}}
								<option value="{{$av}}" {{if eq $av $.Server.Settings.Availability}}selected{{end}}>{{$av.Label}}</option>
							{{end}}
						</select>
					</div>
				</div>

				<br>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Update</button>
						<a href="/balancers/{{.Server.BalancerId.Hex}}" class="btn btn-default">Cancel</a>
						<button type="button" class="btn btn-danger" onclick="deleteBalancer()">Delete</button>
					</div>
				</div>							
			</form>
		</div>
	</div>
{{end}}

{{define "sidebar"}}

{{end}}

{{define "scripts"}}
<script type="text/javascript">
function deleteBalancer() {
    if (confirm("Are you sure you want to delete this server?")) {
		var serverId = window.location.pathname.split("/")[2];
		var deleteUrl = "/servers/" + serverId + "/delete";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", deleteUrl, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                window.location.href = "/balancers";
            }
        };
        xhr.send();
    }
}
</script>
{{end}}
